body {
    font-family: open sans;
    
    box-sizing: border-box;
}

.carousel {
    width: 85%;
    height: auto;
    position: relative;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color:#8ecae6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.carousel h2 {
    margin-bottom: 20px;
}

.testimonial {
    display: none;
}

.testimonial.active {
    display: block;
}

.rating {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.star {
    font-size: 20px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s;
}

.star:hover,
.star.selected {
    color: gold;
}

.author {
    margin-top: 10px;
    font-weight: bold;
    color: #ffb703;
}

.profession {
    color: #777;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffb703;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;

}

button.prev {
    left: 10px;

    
}

button.next {
    right: 10px;
}
.prev{
padding: 10px 20px;
margin: 10px;
font-size: 24px; /* Ajusta el tamaño de la flecha */
color: white;
background-color: #ffb703;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;
}

.btn:hover {
background-color: #ffb703;
}

.next{
    padding: 10px 20px;
    margin: 10px;
    font-size: 24px; /* Ajusta el tamaño de la flecha */
    color: white;
    background-color: #ffb703;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }
    
    .btn:hover {
    background-color: #ffb703;
    }
    
.rese6img{
align-items: center;
width: auto;
height: 200px;

}

.rese4img{
    align-items: center;
    width: auto;
    height: 200px;
    
    }
    
    .rese9img{
        align-items: center;
        width: auto;
        height: 200px;
        
    }
