/* Reset básico */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: "Open Sans", sans-serif;
}

.responsive-image {
    width: 100%;
    height: auto;
    max-width: 1600px;
    margin: 0 auto;
    display: block;
}

.experience_presentation{
    display: flex;
    flex-direction: column;
}

.experience_presentation h1 {
    text-align: center;
    font-weight: 745;
    font-size: 35px;
    color: #0d497e;
    margin-top: 30px;
    margin-bottom: 10px;
}

.experience_presentation p{
    font-size: 15px;
    white-space: nowrap;
    text-align: center;
    color: #111111;
}


.experiences{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}

.experiences-card {
    background-color: #dfdcdcd3;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 40px;
    overflow: hidden;
    width: 280px;
    text-align: center;
    position: relative;
}

.experiences-card img {
    width: 100%;
    height: auto;
    padding: 10px 10px;
    border-radius: 13px;
}

.experiences-card .favorite {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 30px;
    color: #8b8585;
    cursor: pointer;
}

.experiences-card .favorite.selected {
    color: #f81414;
}
.experiences-card h2 {
    font-size: 18px;
    font-weight: 700;
    margin: 0px;
    padding: 12px;
    color: #2571BC;
    margin-top: 1px;
    margin-bottom: 1px;
}

.experiences-card h3 {
    font-size: 14px;
    font-weight: normal;
    color: #4d4949;
    margin: 0px;
    padding: 13px;
    text-align: justify;
    margin-top: 1px;
    margin-bottom: 1px;
}

.experiences-card p {
    text-align: justify;
    font-size: 13px;
    margin: 4px 0;
    padding: 12px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.experiences-card h4 {
    font-size: 17px;
    font-weight: normal;
    color: #0d497e;
    padding: 12px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.rating {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.star {
    font-size: 24px;
    cursor: pointer;
    color:  #78828a;
}

.star:hover,
.star.selected {
    color: #efb810;
}

.text-container {
    position: relative;
    max-height: 100px; 
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.text-container.expanded {
    max-height: 500px; 
}

.more-info-link {
    font-size: 13px;
    display: block;
    margin: 2px auto;
    color: #74b1ce;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

.more-info-link:hover {
    text-decoration: underline;
    color: #1585f5;
}

.experiences-button {
    background-color: #3696f7; 
    color: #070707;              
    padding: 10px 20px;        
    border: none;      
    margin-top: 1px;
    margin-bottom: 19px;       
    border-radius: 5px;        
    cursor: pointer;           
    font-size: 14px;          
    font-weight: 600;        
    transition: background-color 0.3s ease; 
}

.experiences-button:hover {
    background-color: #2571BC; 
}

 /* Estilos del modal */
 .modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

/* Botón de cerrar */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    cursor: pointer;
}