* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open sans", sans-serif;
}

body {
    display: flex;
    margin: 0;
    font-family: Open Sans, sans-serif;
}

ul {
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 0;
    width: 100%;
}

.navbar {
    display: flex;
    min-width: 100vw;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-links a {
    text-decoration: none;
    padding: 10px 20px;
    color: #c7460b;
    font-size: 8%;
    font-weight: regular;
    gap: 5px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.logo img {
    height: 25px;
}

.nav-links li {
    padding: 14px 20px;
    
}

.nav-links a:hover {
    color: #933508;
    font-weight: bold;
}

.auth-links {
    display: flex;
    gap: 10px;
}

.auth-links a {
    text-decoration: none;
    color: #2571b2;
    font-size: 8pt;
}