* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: "Open Sans", sans-serif;
}

.tour_presentation{
    display: flex;
    flex-direction: column;
}

.tour_presentation h1 {
    text-align: center;
    font-weight: 745;
    font-size: 35px;
    color: #D1460B;
    margin-top: 30px;
    margin-bottom: 10px;
}

.tour_presentation p{
    font-size: 15px;
    white-space: nowrap;
    text-align: center;
    color: #111111;
}

.tours {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}

.tour-card {
    background-color: #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 40px;
    overflow: hidden;
    width: 280px;
    text-align: center;
    position: relative;
}

.tour-card img {
    width: 100%;
    height: auto;
    padding: 10px 10px;
    border-radius: 13px;
}

.tour-card .favorite {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #0d497e;
    cursor: pointer;
}

.tour-card .favorite.selected {
    color: #D1460B;
}

.tour-card h2 {
    font-size: 18px;
    font-weight: 700;
    margin: 0px;
    padding: 12px;
    color: #D1460B;
    margin-top: 1px;
    margin-bottom: 1px;
}

.tour-card h3 {
    font-size: 13px;
    margin: 0px;
    padding: 13px;
    text-align: justify;
    margin-top: 1px;
    margin-bottom: 1px;
}



.tour-card p {
    text-align: justify;
    font-size: 13px;
    margin: 4px 0;
    padding: 12px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.tour-card h4 {
    font-size: 17px;
    font-weight: 700;
    color: #EA7700;
    padding: 12px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.rating {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.star {
    font-size: 24px;
    cursor: pointer;
    color:  #78828a;
}

.star:hover,
.star.selected {
    color: #efb810;
}

.tours-button {
    background-color: #EA7700; 
    color: #070707;              
    padding: 10px 20px;        
    border: none;      
    margin-top: 1px;
    margin-bottom: 19px;       
    border-radius: 5px;        
    cursor: pointer;           
    font-size: 14px;          
    font-weight: 600;        
    transition: background-color 0.3s ease; 
}

.tours-button:hover {
    background-color: #D1460B; 
}
.text-container {
    position: relative;
    max-height: 100px; 
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.text-container.expanded {
    max-height: 500px; 
}

.more-info-link {
    font-size: 13px;
    display: block;
    margin: 2px auto;
    color: #efb810;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

.more-info-link:hover {
    text-decoration: underline;
    color: #D1460B;
}


