/* Reset básico */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/* Estilo general del cuerpo */
body {
    font-family: "Open Sans", sans-serif;
}

/* Estilo para el header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para la barra de navegación */
.navbar {
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    justify-content: space-between;
}

/* Estilo para los enlaces de navegación */
.navbar a {
    color: #007BFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: regular;
    padding: 10px 15px;
    margin: 0 10px; /* Aumenta la separación horizontal entre los enlaces */
    text-indent: 2px;
    text-size-adjust: auto;
    justify-content: space-between;
}

/* Hover effect para los enlaces */
.navbar a:hover {
    color: #0056b3;
    font-weight: bold;
}

/* Alineación de los elementos de la barra de navegación */
.navbar .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Estilo para el dropdown "Mi Cuenta" */
.dropdown {
    position: relative;
}

.dropdown-toggle {
    cursor: pointer;
}

/* Ajustes para el dropdown */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    max-width: 50vw; /* Limita el ancho al 90% del viewport */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0;
    list-style: none;
    left: 0;
    right: auto; /* Alinea a la izquierda por defecto */
    transform: translateX(0); /* Ajuste relativo a la posición */
    overflow-x: hidden; /* Evita desbordamiento horizontal */
    overflow-y: auto; /* Permite desplazamiento vertical si es necesario */
    max-height: 80vh; /* Limita la altura del menú desplegable al 80% del viewport */
    font-size: 14px;
}

.dropdown-menu li {
    padding: 8px 16px;
    text-align: left;
    margin-bottom: 5px; /* Aumenta el espacio entre las opciones del dropdown */
    justify-content: space-between;
}

.dropdown-menu li a {
    text-decoration: none;
    display: block;
    color: black;
    font-size: 14px; /* Mantener el tamaño de fuente consistente */
    font-weight: normal; /* Asegura que el peso de la fuente sea consistente */
    padding: 8px 16px; /* Mantener el padding consistente */
}

.dropdown-menu li:hover {
    background-color: #ddd;
}

.dropdown-menu li a:hover {
    font-size: 14px; /* Mantén el mismo tamaño de fuente en hover */
    font-weight: normal; /* Asegura que el peso de la fuente no cambie */
    color: #0056b3; /* Solo cambia el color en hover */
}

.dropdown-menu.show {
    display: block;
}

/* Estilo para los botones de registro e inicio de sesión */
.auth-links button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    margin: 0 10px; /* Aumenta la separación horizontal entre los botones */
}

.auth-links button:hover {
    background-color: #0056b3;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar .menu {
        flex-direction: column;
        width: 100%;
    }

    .navbar a {
        margin: 15px 0; /* Aumenta la separación vertical entre los enlaces en pantallas pequeñas */
    }

    .auth-links {
        flex-direction: column;
        align-items: flex-start;
    }

    .auth-links button {
        margin-top: 10px;
    }

    /* Ajustes específicos para el dropdown en pantallas pequeñas */
    .dropdown-menu {
        left: auto;
        right: 0; /* Alinea el menú al borde derecho en pantallas pequeñas */
    }
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar .nav {
    display: flex;
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
    margin: 0;
  }
  
  .navbar .nav li {
    margin-right: 20px; /* Espacio entre los elementos de la lista */
  }
  
  .navbar .nav li a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
     /* Color del texto de los enlaces */
  }
  
  .navbar .nav li a:hover {
    color: #007BFF; /* Color del texto al pasar el ratón por encima */
  }
  
  .auth-links {
    display: flex;
    gap: 10px; /* Espacio entre los botones */
  }

 /*imagen de bienvenida*/
  .container{
            background-image: url(Imagén_Bienvenida.png);
            background-size: contain;
            background-repeat: no-repeat;
            text-align: center;
            padding-left: 15px;
            height: auto;
            width: 100%;
        }
        .image{
            position: relative;
        }
        .text1 {
            font-family: "open sans";
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 24px;
            padding: 10px;
            align-items: center;
            width: 100%;
            text-align: center;
            font-size: 55px;   
        }
        .text1 img{
            width: 100%;
            text-align: center;
            justify-items: center; 
            opacity: 0.10; 
        }
        .text2 {
            font-family: "open sans";
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 24px;
            padding: 10px;
            color: #fff;
            align-items: center;
            width: 100%;
            text-align: center;
            opacity: 0.8;
        }
        .btn{
            background-color: #2571bc;
            padding: 14px 40px;
            font-size: 25px;}
            button {
                transition-duration: 0.4s;
            }
            .container {
            position: relative;
            width: 100%;
            }
            .container img {
                width: 100%;
                height: auto;
            }
            
            .container .btn {
                position: absolute;
                top: 80%;
                left: 50%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                background-color: #2571bc;
                color: black ;
                font-size: 25px;
                padding: 16px 30px;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                text-align: center;
            }
            .container .btn:hover {
                background-color: #8ecae6;
                color: white;
            }

        .button {
            display: inline-block;
            border-radius: 4px;
            background-color:#2571bc;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 16px;
            padding: 20px;
            width: 200px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }
        
        .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }
        
        .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }
        
        .button:hover span {
            padding-right: 25px;
        }
        
        .button:hover span:after {
            opacity: 1;
            right: 0;
        }
        /*estilos seccion AVENTUREROS*/
        .izquierda 
            {
            height: 100%;
            background-color: white;
            padding: 70PX;
            width: auto;
        }
        
        
            .H1{
                color: #2571bc;
                align-items: center;
                text-align: justify;
        
            
            }
            .H2{
                color: #2571bc;
                align-items: center;
                text-align: justify;
                justify-content: center;
            }
            .H3{
                color: #2571bc;
                align-items: center;
                text-align: justify;
            
            }
            .logo1 {
                width: 50px;
                align-items: center;
                
            }
            .DERECHA {
                height: auto;
                background-color: white;
                background-position: center;
                background-size: cover;
                width: 78%;
                padding: 30px;
            }
            .SECTION1{
                display: flex;
            }
            
            
            .logo2{
                width: 50px;
                align-items: center;
            }
            .logo3{
                width: 50px;
            }
            .logo4{
                width: 50px;
            }
                .line-separator {
                    border-top: 1px solid #fff; /* Línea separadora */
                    width: 90%; /* Ancho de la línea (puedes ajustar el valor) */
                    height: 5px; /* Grosor de la línea */
                    margin: 20px auto; /* Espaciado superior e inferior, auto centra la línea */
                }
                /* SECCION SOBRE NOSOTROS */
                .sobre_nosotrosimg{
                    background-size: cover;
                    background-position: center;
                    width: 600PX;
                    max-width: 100%;
                    padding: 7%;
                    height: auto;
                    background-color: #2571bc;
                }
                .textoderecho{
                    background-color: #2571bc;
                    justify-content: left;
                    padding: 30PX;
                    width: 60%;
                    height: auto;
                }
                .section2{
                    display: flex;
                    }
                .button2{
                    display: inline-block;
                    padding: 15px 25px;
                    font-size: 24px;
                    cursor: pointer;
                    text-align: center;
                    text-decoration: none;
                    outline: none;
                    color: #2571bc;
                    background-color: #ffb703;
                    border: none;
                    border-radius: 15px;
                    box-shadow: 0 9px #999;
                }
                
                .button2:hover {background-color: #ea7700}
                
                .button2:active {
                background-color: #ffb703;
                    box-shadow: 0 5px #8ecae6;
                    transform: translateY(4px);
                }
            /* carrusel nuestros clientes */
            .testimonials {
                text-align: center;
                background-color: #f0f8ff;
                padding: 50px 0;
                position: relative;
            }
            
            .carousel-container {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
            }
            
            .carousel {
                display: flex;
                overflow: hidden;
                width: 80%;
                margin: 0 auto;
            }
            
            .carousel-item {
                min-width: 100%;
                transition: transform 0.5s ease-in-out;
            }
            
            .carousel-item p {
                font-size: 1.2em;
                color: #333;
            }
            
            .carousel-item h4 {
                color: #ea7700;
                margin-top: 10px;
            }
            
            .rating {
                display: flex;
                justify-content: center;
                margin-top: 10px;
            }
            
            .star {
                font-size: 2em;
                color: #ccc;
                cursor: pointer;
                transition: color 0.3s;
            }
            
            .star:hover,
            .star.selected {
                color: #ea7700;
            }
            
            .prev, .next {
                cursor: pointer;
                position: absolute;
                top: 50%;
                width: auto;
                padding: 16px;
                margin-top: -22px;
                color: #333;
                font-weight: bold;
                font-size: 18px;
                transition: 0.6s ease;
                user-select: none;
                z-index: 1;
            }
            
            .next {
                right: 0;
                border-radius: 3px 0 0 3px;
            }
            
            .prev {
                left: 0;
                border-radius: 0 3px 3px 0;
            }
            
            .prev:hover, .next:hover {
                background-color: rgba(0,0,0,0.8);
                color: white;
            }
            .rese4img{
                width: 600px;;
                height: auto;

            }
            
            
            
            /*destinos destacados*/
            .featured-destinations {
                background-color: #fff;
                color: #0277bd;
                padding: 2rem;
                text-align: center;
            }
            
            .featured-destinations h2 {
                color: #ff8f00;
                margin-bottom: 1rem;
            }
            
            .destination-grid {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 20px;
            }
            
            .destination {
                background-color: #8ecae6;
                border: 1px solid #ddd;
                border-radius: 5px;
                padding: 1rem;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }
            .destination {
                background-color: #8ecae6;
                border: 1px solid #ddd;
                border-radius: 5px;
                padding: 1rem;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }
            
            .destination img {
                width: 100%;
                border-radius: 5px;
            }
            
            .destination h3 {
                margin-top: 0.5rem;
                color: #0277bd;
            }
            
            .destination p {
                color:white;
            }
            .h6{
                color: #ea7700;
            }
            
                    /* BLOG Y NOTICIAS */
                    .buttonleermas {
                        display: inline-block;
                        border-radius: 4px;
                        background-color:#2571bc;
                        border: none;
                        color: #FFFFFF;
                        text-align: center;
                        font-size: 16px;
                        padding: 20px;
                        width: 200px;
                        transition: all 0.5s;
                        cursor: pointer;
                        margin: 5px;
                    }
                    .buttonleermas span {
                        cursor: pointer;
                        display: inline-block;
                        position: relative;
                        transition: 0.5s;
                    }
                    
                    .buttonleermas span:after {
                        content: '\00bb';
                        position: absolute;
                        opacity: 0;
                        top: 0;
                        right: -20px;
                        transition: 0.5s;
                    }
                    
                    .buttonleermas:hover span {
                        padding-right: 25px;
                    }
                    
                    .buttonleermas span:after {
                        opacity: 1;
                        right: 0;
                    }
                    .additional-articles {
                        background-color: #d3d3d3;
                        padding: 20px;
                        margin-bottom: 20px;
                        border-radius: 5px;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    }
                    .pre1{
                    color: #ea7700;
                    }
                    button {
                        background-color: #007BFF;
                        color: #fff;
                        border: none;
                        padding: 10px 20px;
                        margin: 10px 0;
                        border-radius: 5px;
                        cursor: pointer;
                    }
                    
                    button:hover {
                        background-color: #0056b3;
                    }
                    /*FOOTHER*/
                    /*Aquí comienza el estilo del footer*/
.footer {
    background-color: #2571b2; /* Puedes ajustar el color de fondo según tus necesidades */
    padding: 20px 0; /* Espaciado superior e inferior */
    margin-top: 40px; /* Espacio superior entre el contenido anterior y el footer */
}

.footer ul {
    list-style-type: none; /* Elimina las viñetas de la lista */
    padding-left: 0; /* Elimina el espacio de sangría a la izquierda */
    margin: 0; /* Ajusta el margen si es necesario */
}

.footer .column ul {
    list-style-type: none; /* Elimina las viñetas */
    padding-left: 0;
    margin: 0;
}

.footer .column ul li {
    margin-bottom: 10px; /* Espaciado entre los elementos de la lista */
}


.container {
    display: flex;
    justify-content: space-between; /* Distribuye las columnas con espacio entre ellas */
    flex-wrap: wrap; /* Permite que las columnas se envuelvan en pantallas pequeñas */
    margin-bottom: 20px; /* Espacio inferior después del contenedor */
}

.column {
    flex: 1; /* Hace que todas las columnas se expandan por igual */
    margin: 0 10px; /* Espaciado horizontal entre columnas */
    min-width: 200px; /* Ancho mínimo para columnas pequeñas */
    color: #fff;
    font-family: "Open Sans", sans-serif;
}

.column h3{
    font-weight: bolder;
}

.columm h3 ul{
    font-weight: bolder;
}
.column h5{
    font-weight: bolder;
}

/* Opcional: Ajustar el tamaño de las imágenes si es necesario */
.column img {
    max-width: 100%;
    height: auto;
}

.social-icons {
    display: flex;
    justify-content: center; /* Centra los iconos horizontalmente */
    margin: 20px 0; /* Espaciado superior e inferior */
}

.social-icons a {
    margin: 0 20px; /* Espaciado entre los iconos */
}

.social-icons img {
    width: 35px; /* Tamaño de los iconos, ajusta según sea necesario */
    height: auto; /* Mantiene la proporción del icono */
}

.footer-separator {
    border-top: 1px solid #ccc; /* Línea separadora */
    width: 80%; /* Ancho de la línea (puedes ajustar el valor) */
    height: 5px; /* Grosor de la línea */
    margin: 20px auto; /* Espaciado superior e inferior, auto centra la línea */
}

.copyright {
    text-align: center; /* Centra el texto en el contenedor */
    margin-top: 10px; /* Espaciado superior */
    color: #fff;
}
                
