body{
    margin: 0;
    font-family: Arial, sans-serif;
}

.Barra de navegación {
    display: Flex;
    justify-content: espacio-entre;
    align-items: centro;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Logotipo IMG {
    height: 50px;
}

.Enlaces-nav {
    list-style:ninguno;
    display: Flex;
    white-space: 20px;
}

    .Nav-Links Li {
    padding: 14px 20px;
}

.Nav-Links A {
    text-decoration: ninguno;
    Color: #000;
    font-size: 16px;
    font-weight: negrita;
}

.Enlaces de navegación a:hover {
    Color: #FF5733;
}

.enlaces de autenticación {
    display: Flex;
    white-space: 10px;
}

.auth-links a {
    text-decoration: ninguno;
    Color: #FFF;
    background-color: #007BFF;
    padding: 10px 20px;
    border-radius: 5px;
}

.enlaces de autenticación .registro {
    background-color: #28a745;
}

.enlaces de autenticación .Regístrese:Pase el cursor,
.enlaces de autenticación .inicio de sesión:hover {
    background-color: #0056b3;
}










































































































    
        .container{
            background-image: url(Imagén_Bienvenida.png);
            background-size: contain;
            background-repeat: no-repeat;
            text-align: center;
            padding-left: 15px;
            height: auto;

        }
        .image{
            position: relative;

        }

        .text1 {
            font-family: "open sans";
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 24px;
            padding: 10px;
            align-items: center;
            width: 100%;
            text-align: center;
            font-size: 55px;
            
        }
        .text1 img{
            width: 100%;
            text-align: center;
            justify-items: center; 
            opacity: 0.10; 
        }
        .text2 {
            font-family: "open sans";
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 24px;
            padding: 10px;
            color: #fff;
            align-items: center;
            width: 100%;
            text-align: center;
            opacity: 0.8;
        }

        .btn{
            background-color: #2571bc;
            padding: 14px 40px;
            font-size: 25px;}
            button {
                transition-duration: 0.4s; }
            

                
                .container {
                    position: relative;
                    width: 100%;
                    
                }
                
                .container img {
                    width: 100%;
                    height: auto;
                }
                
                .container .btn {
                    position: absolute;
                    top: 80%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    background-color: #2571bc;
                    color: black ;
                    font-size: 25px;
                    padding: 16px 30px;
                    border: none;
                    cursor: pointer;
                    border-radius: 5px;
                    text-align: center;
                }
                
                .container .btn:hover {
                    background-color: #8ecae6;
                    color: white;
                }

            .button {
                display: inline-block;
                border-radius: 4px;
                background-color:#2571bc;
                border: none;
                color: #FFFFFF;
                text-align: center;
                font-size: 16px;
                padding: 20px;
                width: 200px;
                transition: all 0.5s;
                cursor: pointer;
                margin: 5px;
            }
            
            .button span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;
            }
            
            .button span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }
            
            .button:hover span {
                padding-right: 25px;
            }
            
            .button:hover span:after {
                opacity: 1;
                right: 0;
            }
            .izquierda {
            height: 100%;
            background-color: #ffb703;
            padding: 70PX;
            width: auto;
            margin: 5PX;
            

        }
        
        
            .H1{
                color: #2571bc;
                align-items: center;
                text-align: justify;
        
            
            }
            .H2{
                color: #2571bc;
                align-items: center;
                text-align: justify;
                justify-content: center;
            }
            .H3{
                color: #2571bc;
                align-items: center;
                text-align: justify;
            
            }
            .logo1 {
                width: 50px;
                align-items: center;
                
            }
            .DERECHA {
                height: auto;
                background-color: #8ecae6;
                background-position: center;
                background-size: cover;
                width: 78%;
                margin: 5px;
                padding: 30px;
            }
            .SECTION1{
                display: flex;
            }
            
            
            .logo2{
                width: 50px;
            }
            .logo3{
                width: 50px;
            }
            .logo4{
                width: 50px;
            }
            .pie_pagina{
                background-color: #2571bc;
                align-items: center;
            }
            .logofeet{
                height: auto;
                align-items: center;
                padding: 15px;
            }
                .sobre_nosotrosimg{
                    background-size: cover;
                    background-position: center;
                    width: 600PX;
                    max-width: 100%;
                    padding: 7%;
                    height: auto;
                    background-color: #2571bc;
                }
                

                .textoderecho{
                    background-color: #2571bc;
                    justify-content: left;
                    padding: 30PX;
                    width: 60%;
                    height: auto;
                    
                }
                    
                    .button2{
                            display: inline-block;
                            padding: 15px 25px;
                            font-size: 24px;
                            cursor: pointer;
                            text-align: center;
                            text-decoration: none;
                            outline: none;
                            color: #2571bc;
                            background-color: #ffb703;
                            border: none;
                            border-radius: 15px;
                            box-shadow: 0 9px #999;
                        }
                        
                        .button2:hover {background-color: #ea7700}
                        
                        .button2:active {
                        background-color: #ffb703;
                            box-shadow: 0 5px #8ecae6;
                            transform: translateY(4px);
                        }
                        .section2{
                            display: flex;
                            }
                
                            .textizqui{
                                background-color: #ea7700;
                                color: #fff;
                                padding: 5%;
                                width: 500px;
                                margin: bottom 5px; ;
                            }
                            .imgtazumal{
                                background-color: #8ecae6;
                                height: auto;
                                width: 400px;
                                padding-top: 5px;
                        
                            }
                            .SECTION3{
                                display: flex;
                            }
                            .imgtazu{
                                display: flex;
                                height: auto;
                                width: 400px;
                                padding-top: 75px;
                            }
                            .imgjuayua{
                                display: flex;
                                background-color: #ea7700;
                                height: auto;
                                padding: 5%;
                                width: 400px;
                            }
                            .imgju{
                                width: 400px;
                                height: auto;
                            }


                            .buttonleermas {
                                display: inline-block;
                                border-radius: 4px;
                                background-color:#2571bc;
                                border: none;
                                color: #FFFFFF;
                                text-align: center;
                                font-size: 16px;
                                padding: 20px;
                                width: 200px;
                                transition: all 0.5s;
                                cursor: pointer;
                                margin: 5px;
                            }
                            
                            .buttonleermas span {
                                cursor: pointer;
                                display: inline-block;
                                position: relative;
                                transition: 0.5s;
                            }
                            
                            .buttonleermas span:after {
                                content: '\00bb';
                                position: absolute;
                                opacity: 0;
                                top: 0;
                                right: -20px;
                                transition: 0.5s;
                            }
                            
                            .buttonleermas:hover span {
                                padding-right: 25px;
                            }
                            
                            .buttonleermas span:after {
                                opacity: 1;
                                right: 0;
                            }
                            .fotocliente1{
                                width: auto;
                                height: 200px;
                            }
                            .fotocliente2{
                                width: auto;
                                height: 200px;
                            }

                            .fotocliente3{
                                width: auto;
                                height: 200px;
                            }