* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit; /* Mantener color de texto consistente */
}

header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

header ul li {
    margin: 5px;
}

.logo {
    width: 169px; /* Ancho del div */
    height: 66px; /* Alto del div */
    background-image: url('IMAGENES/logo_navbar.png'); /* Ajusta la ruta de la imagen */
    background-size: cover; /* La imagen se ajustará para cubrir el div */
    background-position: center; /* Centra la imagen dentro del div */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    padding: 14px 20px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 16px; /* Aumenta el tamaño de la fuente para mejor legibilidad */
    font-weight: bold;
}

.nav-links a:hover,
.nav-links a:focus {
    color: #ff5733;
    outline: none; /* Quita outline por defecto
