* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 70px; /* Ajusta el tamaño del logo */
    height: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: #D1460B;
    font-size: 8px; /* Ajusta el tamaño de la fuente para mejor legibilidad */
    font-weight: regular;
    padding: 10px 15px;
}

.nav-links a:hover,
.nav-links a:focus {
    color: #ff5733;
    text-decoration: none; /* Añade subrayado en hover y focus */
}

.auth-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.auth-links a {
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
}

.auth-links .register {
    background-color: #28a745;
}

.auth-links a:hover,
.auth-links a:focus {
    background-color: #0056b3;
    outline: none; /* Quita outline por defecto en focus */
}

.auth-links a:focus {
    outline: 2px solid #ff5733; /* Añade un borde en foco para accesibilidad */
    outline-offset: 2px;
}
