.tours {
    display: block;
    position: relative;
    margin-top: 3%;
    width: 100%;
    height: 83vh;
    overflow: hidden;
}

.tours img {
    width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
    height: auto; /* La imagen ocupará el 100% de la altura del contenedor */
    object-fit: cover; /* Esto asegurará que la imagen se ajuste completamente al contenedor sin deformarse */
    object-position: center; /* Centra la imagen dentro del contenedor */
}

.tours h1 {
    display: block;
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    width: auto;
    font-size: 55px;
    font-weight: 800;
    color: #2571BC;
}
.tours h2 {
    display: block;
    position: absolute;
    text-align: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: auto;
    font-style: italic; /* Agregar cursiva */
    font-size: 19px;
    font-weight: 400;
    color: #0c0c0c;
    line-height: 1.5; /* Mejora la legibilidad aumentando el espaciado entre líneas */
}