* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    align-items: center;
    font-family: "Open Sans", sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para la barra de navegación */
.navbar {
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}


  /* Estilo para los enlaces de navegación */
.navbar a {
    color: #007BFF;
    text-decoration: none;
    font-size: 16px; /* Ajusta el tamaño de la fuente para mejor legibilidad */
    font-weight: regular;
    padding: 10px 15px;
    text-indent: 2px;
    text-size-adjust: auto;
}

  /* Hover effect para los enlaces */
.navbar a:hover {
    color: #0056b3;
    font-weight: bold;
}

  /* Alineación de los elementos */
.navbar .menu {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .navbar {
    flex-direction: column;
    align-items: flex-start;
    }

    .navbar .menu {
    flex-direction: column;
    width: 100%;
    }

    .navbar a {
    margin: 10px 0;
    }
}

/* Botones de registro e inicio de sesión */
.auth-links button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
}

.auth-links button:hover {
    background-color: #0056b3;
}

/* Responsive */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar .menu {
        flex-direction: column;
        width: 100%;
    }

    .navbar a {
        margin: 10px 0;
    }

    .auth-links {
        flex-direction: column;
        align-items: flex-start;
    }

    .auth-links button {
        margin-top: 10px;
    }
}

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }