* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para la barra de navegación */
.navbar {
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}


  /* Estilo para los enlaces de navegación */
.navbar a {
    color: #007BFF;
    text-decoration: none;
    font-size: 16px; /* Ajusta el tamaño de la fuente para mejor legibilidad */
    font-weight: regular;
    padding: 10px 15px;
    text-indent: 2px;
    text-size-adjust: auto;
}

  /* Hover effect para los enlaces */
.navbar a:hover {
    color: #0056b3;
    font-weight: bold;
}

  /* Alineación de los elementos */
.navbar .menu {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .navbar {
    flex-direction: column;
    align-items: flex-start;
    }

    .navbar .menu {
    flex-direction: column;
    width: 100%;
    }

    .navbar a {
    margin: 10px 0;
    }
}

/* Botones de registro e inicio de sesión */
.auth-links button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
}

.auth-links button:hover {
    background-color: #0056b3;
}

/* Responsive */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar .menu {
        flex-direction: column;
        width: 100%;
    }

    .navbar a {
        margin: 10px 0;
    }

    .auth-links {
        flex-direction: column;
        align-items: flex-start;
    }

    .auth-links button {
        margin-top: 10px;
    }
}

.card h-100{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* centra las tarjetas horizontalmente */
    padding: 20px;
    gap: 20 px;
    background-color: #d24d0b;
}

.card {
    background-color: #d24d0b;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px; /* Espacio dentro de cada tarjeta */
    margin: 10px; /* Espacio fuera de cada tarjeta */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px; /* Ancho de las tarjetas */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
    color: white; /* Color del texto */
}
