* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open sans", sans-serif;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    padding: 14px 20px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

.nav-links a:hover {
    color: #ff5733;
}

.auth-links {
    display: flex;
    gap: 10px;
}

.auth-links a {
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
}

.auth-links .register {
    background-color: #28a745;
}

.auth-links .register:hover,
.auth-links .login:hover {
    background-color: #0056b3;
}
