body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #f8f8f8;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

/* Botones de registro e inicio de sesión */
.auth-links button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

main {
    padding: 20px;
    text-align: center;
}

.gallery-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
}

figure {
    margin: 0;
    text-align: center;
}

figcaption {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}


footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px;
    text-align: center;
}

footer .contacto p {
    margin: 5px 0;
}

footer .redes-sociales {
    margin: 20px 0;
}

footer .redes-sociales a {
    margin: 0 10px;
    display: inline-block;
}

footer .redes-sociales img {
    width: 24px;
    height: 24px;
}

footer p {
    margin: 0;
    font-size: 0.9em;
}