* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.image-responsive {
    width: 100%;
    height: auto;
    max-width: 1600px;
    margin: 0 auto;
    display: block;
}


@media (max-width: 768px) {
    h1 {
        font-size: 28px;
    }
    p {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 24px;
    }
    p {
        font-size: 14px;
    }
}

/* Testimonials Section */
.testimonials {
    display: flex;
    flex-direction: column;
}

.testimonials h1 {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    color: #D1460B;
    margin: 30px 0 10px;
}

.testimonials h2 {
    font-size: 15px;
    white-space: nowrap;
    text-align: center;
    color: #111111;
}

/* Tours Section */
#tours,
#experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: center;
    background: transparent;
}

#tours h1,
#experience h1 {
    font-size: 35px;
    font-weight: 700;
    margin: 0;
}

#tours h1 {
    color: #2571BC;
}

#experience h1 {
    color: #FFB703;
}

#tours h2,
#experience h2 {
    font-style: italic;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
}

/* Container Styles */
.tour_container,
.experience_container,
.blog_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    width: 85%;
    margin: 50px auto;
    padding: 20px;
}

.tour_container {
    background-color: #8ECAE6;
}

.experience_container {
    background-color: #EA7700;
}

.blog_container {
    background-color: #2571BC;
    padding: 50px;
    gap: 45px;
}

/* Box Styles */
.tours_box,
.experience_box{
    flex: 0 0 30%;
    background-color: #ffffff;
    border-radius: 3px;
    overflow: hidden;
    text-align: center;
    padding: 23px 20px;
    margin: 10px;
    max-width: 1200px;
}

.blog_box{
flex: 0 0 45%;
background-color: #ffffff;
border-radius: 3px;
overflow: hidden;
text-align: center;
padding: 30px 20px;
margin: 10px;
max-width: 2000px;
}

.blog_box img {
    width: 95%;
    height: 300px;
    margin-bottom: 3px;
    border-radius: 2px;
}

.tours_box img,
.experience_box img {
    width: 97%;
    height: 45%;
    margin: 0;
    padding: 2px;
    border-radius: 3px;
}

/* Text Styles */
.tours_box h4,
.experience_box h4,
.blog_box h5 {
    margin: 3px 0;
    text-align: justify;
    font-size: 16px;
    font-weight: 655;
}

.tours_box h4 {
    color: #2571BC;
}

.experience_box h4 {
    color: #94bfe6;
}

.blog_box h5 {
    color: #D1460B;
}

.tours_box h5,
.experience_box h5 {
    margin: 3px 0;
    text-align: justify;
    font-size: 15px;
}

.tours_box h5 {
    color: #EA7700;
}

.experience_box h5 {
    color: #ffe927;
}

.tours_box h6,
.experience_box h6 {
    margin: 3px 0;
    text-align: justify;
    font-size: 14px;
}

.tours_box p,
.experience_box p,
.blog_box p {
    margin: 3px 0;
    text-align: justify;
    font-size: 13px;
    color: #0c0b0b;
}

/* Rating Section */
.rating {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.star {
    font-size: 20px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s;
}

.star:hover,
.star.selected {
    color: gold;
}

/* Button Styles */
.button_information {
    display: flex;
    justify-content: flex-start;
}

.text-only {
    background: none;
    border: none;
    color: #2571b2;
    font-size: 14px;
    cursor: pointer;
    padding: 5px;
    text-decoration: none;
}

.text-only:hover {
    text-decoration: underline;
    color: #2571b2;
}

.add-review-section {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.add-review-btn {
    background-color: #3e9dfc;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 17px;
    width: 100%;
    max-width: 1200px;
    margin: 10px;
    text-align: center;
}

.add-review-btn:hover {
    background-color: #2571BC;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}

.modal-content {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    border: 1px solid #ffffff;
    width: 27%;
    max-width: 450px;
    border-radius: 5px;
}

.close {
    color: #111111;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #FFB703;
    text-decoration: none;
    cursor: pointer;
}

/* Form Elements */
input[type="file"] {
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #ffb80365;
    border: 1px solid #ffffff;
    width: 100%;
}

.send-button {
    background-color: #EA7700;
    color: #070707;
    padding: 8px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    width: 30%;
    margin-top: 20px;
}

.send-button:hover {
    background-color: #D1460B;
}

/* Blog Section */
.blog {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

.blog h1 {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    color: #D1460B;
    margin: 30px 0 10px;
}

.blog h2 {
    font-size: 15px;
    white-space: nowrap;
    text-align: center;
    color: #111111;
}

/* Blog Buttons */
.button_blog button {
    background-color: #EA7700;
    color: #070707;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.button_blog button:hover {
    background-color: #D1460B;
}