.hero-section {
    display: block;
    position: relative;
    width: 100%;
    height: 81vh;
    overflow: hidden;
}
.hero-section h1 {
    display: block;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    width: auto;
    font-size: 43px;
    font-weight: 700;
    color: #2571BC;
}
.testimonials{
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
}

.testimonials h1{
    text-align: center;
    font-weight: 700;
    padding: 33px;
    font-size: 26px;
    color: #D1460B;
}

.testimonials h2{
    font-size: 16px;
    white-space: nowrap;
    text-align: center;
    color: #111111;
}

.tours {
    display: block;
    position: relative;
    margin-top: 9%;
    width: 100%;
    height: 81vh;
    overflow: hidden;
}

.tours img {
    width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
    height: auto; /* La imagen ocupará el 100% de la altura del contenedor */
    object-fit: cover; /* Esto asegurará que la imagen se ajuste completamente al contenedor sin deformarse */
    object-position: center; /* Centra la imagen dentro del contenedor */
}

.tours h1 {
    display: block;
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    width: auto;
    font-size: 43px;
    font-weight: 700;
    color: #2571BC;
}
.tours h2 {
    display: block;
    position: absolute;
    text-align: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: auto;
    font-style: italic; /* Agregar cursiva */
    font-size: 19px;
    font-weight: 400;
    color: #0c0c0c;
    line-height: 1.5; /* Mejora la legibilidad aumentando el espaciado entre líneas */
}

.tour_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #c0e5f7f1;
    padding: 20px;
}

.tours_box{
    border-radius: 10px;
    background-color: #4e9decf1;
    text-align: center; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 20px auto;
    max-width: 365px;
}

.tours_box img {
    width: 90%;
    height: 200px;
    border-radius: 10px; 
    margin-bottom: 15px;
}

.tours_box h4, h5, h6, p {
    margin: 10px 0; 
    text-align: justify;
    font-size: 14px;
}

.col-md-4 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.row {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
}

.button_blog button {
    background-color: #FFB703; 
    color: #070707;              
    padding: 10px 20px;        
    border: none;              
    border-radius: 5px;        
    cursor: pointer;           
    font-size: 16px;          
    font-weight: bold;         
    transition: background-color 0.3s ease; 
}

.button_blogbutton:hover {
    background-color: #EA7700; 
}

.button_blog button:active {
    background-color: #f8d613;
    transform: scale(0.98);    
}

.button_blog button:focus {
    outline: none;             
    box-shadow: 0 0 5px #D1460B; 
}
.footer {
    background-color: #2571b2; /* Puedes ajustar el color de fondo según tus necesidades */
    padding: 20px 0; /* Espaciado superior e inferior */
    margin-top: 40px; /* Espacio superior entre el contenido anterior y el footer */
}

.footer ul {
    list-style-type: none; /* Elimina las viñetas de la lista */
    padding-left: 0; /* Elimina el espacio de sangría a la izquierda */
    margin: 0; /* Ajusta el margen si es necesario */
}

.footer .column ul {
    list-style-type: none; /* Elimina las viñetas */
    padding-left: 0;
    margin: 0;
}

.footer .column ul li {
    margin-bottom: 10px; /* Espaciado entre los elementos de la lista */
}


.container {
    display: flex;
    justify-content: space-between; /* Distribuye las columnas con espacio entre ellas */
    flex-wrap: wrap; /* Permite que las columnas se envuelvan en pantallas pequeñas */
    margin-bottom: 20px; /* Espacio inferior después del contenedor */
}

.column {
    flex: 1; /* Hace que todas las columnas se expandan por igual */
    margin: 0 10px; /* Espaciado horizontal entre columnas */
    min-width: 200px; /* Ancho mínimo para columnas pequeñas */
    color: #fff;
    font-family: "Open Sans", sans-serif;
}

.column h3{
    font-weight: bolder;
}

.columm h3 ul{
    font-weight: bolder;
}
.column h5{
    font-weight: bolder;
}

/* Opcional: Ajustar el tamaño de las imágenes si es necesario */
.column img {
    max-width: 100%;
    height: auto;
}

.social-icons {
    display: flex;
    justify-content: center; /* Centra los iconos horizontalmente */
    margin: 20px 0; /* Espaciado superior e inferior */
}

.social-icons a {
    margin: 0 20px; /* Espaciado entre los iconos */
}

.social-icons img {
    width: 35px; /* Tamaño de los iconos, ajusta según sea necesario */
    height: auto; /* Mantiene la proporción del icono */
}

.footer-separator {
    border-top: 1px solid #ccc; /* Línea separadora */
    width: 80%; /* Ancho de la línea (puedes ajustar el valor) */
    height: 5px; /* Grosor de la línea */
    margin: 20px auto; /* Espaciado superior e inferior, auto centra la línea */
}

.copyright {
    text-align: center; /* Centra el texto en el contenedor */
    margin-top: 10px; /* Espaciado superior */
    color: #fff;
}
