@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.testimonials{
    display: flex;
    flex-direction: column;
}

.testimonials h1{
    text-align: center;
    font-weight: 745;
    font-size: 35px;
    color: #D1460B;
    margin-top: 30px;
    margin-bottom: 10px;
}

.testimonials h2{
    font-size: 15px;
    white-space: nowrap;
    text-align: center;
    color: #111111;
}

.tours {
    display: block;
    position: relative;
    margin-top: 2%;
    width: 100%;
    height: 83vh;
    overflow: hidden;
}

.tours h1 {
    display: block;
    position: absolute;
    text-align: center;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    width: auto;
    font-size: 28px;
    font-weight: 700;
    color: #2571BC;
}
.tours h2 {
    display: block;
    position: absolute;
    text-align: center;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: auto;
    font-style: italic; /* Agregar cursiva */
    font-size: 14px;
    font-weight: 400;
    color: #0c0c0c;
    line-height: 1.5; /* Mejora la legibilidad aumentando el espaciado entre líneas */
}

.tour_container{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
    margin-top: 50px; /* Espacio arriba de la sección */
    margin-bottom: 50px;
    padding: 20px;
    background-color: #8ECAE6;
}

.tours_box{
    border-radius: 3px;
    background-color: #ffffff;
    text-align: center; 
    padding: 20px 15px;
    margin: 20px;
    max-width: 1200px;
    flex-shrink: 1;
    box-sizing: border-box;
}

.tours_box img {
    width: 95%;
    height: 190px;
    margin-bottom: 3px;
}

.tours_box h4, h5, h6, p {
    margin: 3px 0; 
    text-align: justify;
}

.tours_box h4{
    font-size: 16px;
    color: #2571BC;
    font-weight: 655;
}

.tours_box h5{
    font-size: 15px;
    color: #EA7700;
}
.tours_box h6{
    font-size: 14px;
}
.tours_box p{
    font-size: 13px;
    color: #0c0b0b;
}

.experience {
    display: block;
    position: relative;
    margin-top: 2%;
    width: 100%;
    height: 83vh;
    overflow: hidden;
}

.experience h1 {
    display: block;
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    width: auto;
    font-size: 28px;
    font-weight: 700;
    color: #FFB703;
}
.experience h2 {
    display: block;
    position: absolute;
    text-align: center;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: auto;
    font-style: italic; /* Agregar cursiva */
    font-size: 14px;
    font-weight: 400;
    color: #0c0c0c;
    line-height: 1.5; /* Mejora la legibilidad aumentando el espaciado entre líneas */
}

.experience_container{
    display: flex;
    flex-direction:column;
    width: 85%;
    margin: 0 auto;
    margin-top: 50px; /* Espacio arriba de la sección */
    margin-bottom: 50px;
    padding: 20px;
    background-color: #ff7322;
}

.experience_box{
    border-radius: 3px;
    background-color: #ffffff;
    text-align: center; 
    padding: 20px 15px;
    margin: 20px;
    max-width: 1200px;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%; 
    box-sizing: border-box;
}

.experience_box img {
    width: 95%;
    height: 190px;
    margin-bottom: 3px;
}

.experience_box h4, h5, h6, p {
    margin: 3px 0; 
    text-align: justify;
}

.experience_box h4{
    font-size: 16px;
    color:#94bfe6;
    font-weight: 655;
}

.experience_box h5{
    font-size: 15px;
    color: #ffe927;
}
.experience_box h6{
    font-size: 14px;
}
.experience_box p{
    font-size: 13px;
    color: #0c0b0b;
}

.blog{
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
}

.blog h1{
    text-align: center;
    font-weight: 745;
    font-size: 35px;
    color: #D1460B;
    margin-top: 30px;
    margin-bottom: 10px;
}

.blog h2{
    font-size: 15px;
    white-space: nowrap;  
    text-align: center;
    color: #111111;
} 

.blog_container{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
    margin-top: 50px; /* Espacio arriba de la sección */
    margin-bottom: 50px;
    padding: 20px;
    background-color:  #FFB703;
}

.blog_box{
    border-radius: 3px;
    background-color:  #94bfe6;
    text-align: center; 
    padding: 17px 15px;
    margin: 25px;
    max-width: 1200px;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%; 
    box-sizing: border-box;
}

.blog_box img {
    width: 97%;
    height: 270px;
    margin-bottom: 3px;
}

.blog_box h5, p {
    margin: 3px 0; 
    text-align: justify;
}

.blog_box h5{
    font-size: 16px;
    color: #D1460B;
    font-weight: 655;
}

.blog_box p{
    font-size: 13px;
    color: #0c0b0b;
}

.button_blog button {
    background-color: #2571BC; 
    color: #070707;              
    padding: 10px 20px;        
    border: none;              
    border-radius: 5px;        
    cursor: pointer;           
    font-size: 16px;          
    font-weight: bold;         
    transition: background-color 0.3s ease; 
}

.button_blog button:hover {
    background-color: #EA7700; 
}

.button_blog button:active {
    background-color: #f8d613;
    transform: scale(0.98);    
}

.col-md-4{
    display: flex;
    justify-content:center;
    margin-bottom: 40px;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
}

.col-md-6{
    display: flex;
    justify-content:center;
    margin-bottom: 40px;
}

.row {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
}

.rating {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.star {
    font-size: 20px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s;
}

.star:hover,
.star.selected {
    color: gold;
}

.button_information {
    display: flex;
    justify-content: flex-start; /* Alinea el botón a la izquierda */
}

.text-only {
    background: none;/* Sin fondo */
    border: none; /* Sin borde */
    color: #2571b2; /* Color del texto azul */
    font-size: 14px; /* Ajusta el tamaño de la fuente según lo necesites */
    cursor: pointer; /* Cambia el cursor cuando se pasa sobre el botón */
    padding: 5px; /* Opcional: ajusta el espaciado */
    text-decoration: none; /* Sin subrayado */
}

.text-only:hover {
    text-decoration: underline; /* Subraya el texto al pasar el cursor */
    color: #2571b2; /* Cambia el color al pasar el cursor */
}

.add-review-btn {
    background-color: #3e9dfc; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    padding: 5px 0; /* Tamaño del botón */
    border: none; /* Sin bordes */
    border-radius: 2px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor cuando pase por encima */
    font-size: 17px; /* Tamaño de la fuente */
    width: 96%;
    display:block;
    margin: 0 auto;
}

.add-review-btn:hover {
    background-color: #2571BC; /* Cambia de color cuando se pasa el mouse */
}

.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff70; /* Fondo oscuro */
  }
  
  .modal-content {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    border: 1px solid #ffffff;
    width: 27%;
    max-width: 450px;
    border-radius: 5px;
  }
  
  .close {
    color: #111111;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #FFB703;
    text-decoration: none;
    cursor: pointer;
  }

  input[type="file"] {
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #ffb80365;
    border: 1px solid #ffffff;
    width: 100%;
}

/* Estilo del botón de enviar */
.send-button {
    background-color: #EA7700; /* Color de fondo */
    color: #070707; /* Color del texto */
    padding: 8px 8px; /* Tamaño del botón */
    border: none; /* Sin bordes */
    border-radius: 3px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor cuando pase por encima */
    font-size: 16px; /* Tamaño de la fuente */
    width: 30%; /* Ancho del botón */
    margin-top: 20px; /* Espacio superior */
}

.send-button:hover {
    background-color: #D1460B; /* Cambia de color cuando se pasa el mouse */
}

@media (max-width: 768px) {
    .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}